@font-face {
  font-family: "Mazius";
  src: url("~assets/fonts/Mazius/MAZIUSREVIEW20.09-Italic.woff"),
    url('~assets/fonts/Mazius/MAZIUSREVIEW20.09-Italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "Ignazio";
  src: url("~assets/fonts/Ignazio/IgnazioDisplay-Regular.woff"),
    url('~assets/fonts/Ignazio/IgnazioDisplay-Regular.woff2') format('woff2');
  font-style: normal;
}
